.headsfondo{
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
    url(./img/header.jpg) no-repeat center center / cover ;
    height: 70vh;
}

.font-title{
    font-family: 'Righteous';
    color: white;

}
.colore{
    color: #1566C0;
}

.bottoneiniziale{
    background-color: yellow;
    padding-left: 30px;
    padding-right: 30px;
    

}

.primacard{
    width: 33%;
    color: white;
}

.Containeronde{
    position: relative; padding: 0;
    }

.containeronde .ondasfondo{
    border-width: 0; margin: 0; padding: 0;
    }

.containeronde .ondasu{
    border-width: 0; margin: 0; padding: 0;
    position: absolute; top:40vh; left: 0;
    }
    
body{
    background-color: white;
}

.bordo{
    border-bottom:3px solid yellow ;
}

.primosfondo{
    background:linear-gradient(135deg, var(--primary), var(--secondary)), url(./img/1.png) no-repeat center center / cover ;
    height:50vh;
    width: 22%;
    margin: 15px;
}
.secondosfondo{
    background:linear-gradient(135deg, var(--primary), var(--secondary)), url(./img/2.png)no-repeat center center / cover ;
    height:50vh;
    width: 22%;
    margin: 15px;
}
.terzosfondo{
    background:linear-gradient(135deg, var(--primary), var(--secondary)), url(./img/3.png)no-repeat center center / cover ;
    height:50vh;
    width: 22%;
    margin: 15px;
}
.quartosfondo{
    background:linear-gradient(135deg, var(--primary), var(--secondary)), url(./img/4.png)no-repeat center center / cover ;
    height:50vh;
    width: 22%;
    margin: 15px;
}
.bordocard{
    border: 1px none rgb(199, 195, 195);
    border-radius: 5%;
    box-shadow: 0px 4px 4px #dedede;
    box-shadow: 1px;
}
.bordocardpiccola{
    border: 1px none rgb(199, 195, 195);
    border-radius: 5%;
    box-shadow: 1px;
    width: 3vw;
    height: 5vh;
    box-shadow: 0px 4px 4px #dedede;
}

:root{

    --primary: hsla(240, 5%, 7%, 0.90);
    --secondary:hsla(208, 89%, 11%, 0.2);
}

.bordocard2{
    border: 1px solid rgb(199, 195, 195);
    border-radius: 5%;
    box-shadow: 0px 4px 4px #dedede;
    
}

.imgtonda{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid #1566C0 ;
}

.bottone2{
    background-color: #1566C0;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.bordodestra{
    border-right: 5px solid #1566C0;
    position: relative;
}

.bordosinistra{
    border-left: 5px solid #1566C0; 
    position: relative;

}

.backgroundfoot{
    background: url(./img/footer.jpg);
    height: 50vh;


}

.footbar{
    background-color: rgba(0, 0, 0, 0.6);
}


.bordosinistra:before{
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    left: -10px;
    border: 3px solid #1566C0;
}

.bordodestra:before{
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    left:650px;
    border: 3px solid #1566C0;
}